# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Configurações de IDE
**/.idea/
*.iws
*.iml
# Arquivos de compilação do Maven em qualquer subdiretório
**/target/
# Banco de dados SQLite local em qualquer subdiretório
**/*.db
**/fintrack.db
